@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: rgb(32, 32, 32);
  }

  p {
    font-size: 16px;
  }

  .clip_path {
    clip-path: polygon(50% 0%, 100% 0, 100% 86%, 50% 100%, 0 86%, 0% 50%, 0 0);
  }

  .heading {
    @apply text-[30px] md:text-[35px] lg:text-[40px] uppercase font-bold text-gray-900
    md:leading-[4rem] leading-[3rem] text-center;
  }
}

.card-wrapper {
  cursor: pointer;
}
